* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none; /* 리스트 점 없애기 */
}

a {
  text-decoration: none; /* 링크 밑줄 없애기 */
  color: inherit;        /* 부모 색상 따라가기 */
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/* Base Style */
body {
  color: var(--color-black);
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
}

/* Common Layout */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-20);
  width: 100%;
}

.section {
  margin-bottom: 80px;
}

.section-header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: var(--space-20);
  min-height: 32px; 
}

.section-title {
  position: absolute;          /* 흐름 무시하고 절대 위치 */
  left: 50%;                   /* 왼쪽에서 50% 이동 */
  transform: translateX(-50%); /* 내 크기 절반만큼 다시 이동 (완전 중앙) */
  
  font-weight: var(--fw-bold);
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  
  white-space: nowrap;         /* 줄바꿈 방지 */
}

.footer-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 100px;
}

.text-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.text-links a {
  color: var(--text-gray);
  font-weight: var(--fw-medium);
  transition: color 0.2s;
}

.text-links a:hover {
  color: var(--color-black);
  text-decoration: underline; /* 마우스 올리면 밑줄 */
}


/* Grid System */
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-10);
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-10);
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .grid-4 { grid-template-columns: 1fr; }

  .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .section-title {
      position: static; 
      transform: none;
      white-space: normal;
  }
}