<!--
items (필수)
    카드에 뿌려줄 데이터
    site.posts, site.data.portfolio.awards 등
title (필수)
    섹션의 큰 제목
    ""Projects"", ""Awards"", ""Educations"" 등
section-type (필수)
    전체적인 배치 모양 결정
    ""column"" (이력서형 2단), ""row"" (일반형 1단)"
grid-type (선택)
    section-type이 row인 경우 카드 배치 선택
    ""grid-4"" (카드4개 수평배치), 생략 시 기본값 (grid-1)
card-type (선택)
    개별 카드 디자인 결정
    ""stroke"" (박스형, 이미지 X), 생략 시 기본값 (밑줄형, 이미지 O)"
viewall-url (선택)
    제목 옆 'View All →' 버튼 링크
align-title	선택
    제목 정렬 방식
    ""text-left""(default), ""text-center""
-->

{% assign layout_type = include.section-type | default: "row" %}
{% assign grid_class = include.grid-type | default: "grid-1" %}
{% assign align_class = include.align-title | default: "text-left" %}
{% assign card_style = include.card-type | default: "underline" %}

{% capture cards_content %}
    <div class="{{ grid_class }}">
        {% for item in include.items %}
            <a {% if item.url %} href="{{ item.url }}" {% endif %}
            class="card card-{{ card_style }} card-row {% unless item.url %}state-null{% endunless %}">
                
                <div class="card-content">
                    <h3 class="card-title">{{ item.title }}</h3>
                    <p class="card-body">
                        {% if item.description %}
                            {{ item.description }}
                        {% else %}
                            {{ item.excerpt | strip_html | truncate: 150 }}
                        {% endif %}
                    </p>
                </div>

                {% if item.image and card_style != 'stroke' %}
                    <img src="{{ item.image }}" class="card-thumbnail" alt="{{ item.title }}">
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endcapture %}


<section class="section">
    
    {% if layout_type == "column" %}
        <div class="grid-title"> 
            <div class="resume-left">
                <h2 class="heading {{ align_class }}">{{ include.title }}</h2>
                {% if include.viewall-url %}
                    <a href="{{ include.viewall-url }}" class="body-small">view All →</a>
                {% endif %}
            </div>

            <div class="resume-right">
                {{ cards_content }}
            </div> 
        </div>

    {% else %}
        <div class="section-header {{ align_class }}">
            <h2 class="subheading">{{ include.title }}</h2>
            {% if include.viewall-url %}
                <a href="{{ include.viewall-url }}" class="view-all">view All →</a>
            {% endif %}
        </div>
        
        {{ cards_content }}
    {% endif %}

</section>