.blog-layout {
    display: flex;
    align-items: stretch;
    overflow: hidden;

    min-height: 80vh;
}

.blog-content {
    flex: 1;
    min-width: 0;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .blog-layout {
        flex-direction: column;
        align-items: flex-start;
    }
}