.hero-section {
    width: 100%;
    background-color: var(--color-white);
    
    border-radius: 0px 0px var(--radius-hero) var(--radius-hero);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--space-20);
    justify-content: center; 
    
    padding: 100px 0; 
}

.hero-img {
    width: 240px;
    height: 180px;
    flex-shrink: 0;
    object-fit: contain;
}