.hero-content {
    width: 100%; 
    background-color: var(--color-white);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    
    padding: 100px 100px;
    gap: var(--space-20);
    
    border-radius: 0px 0px var(--radius-hero) var(--radius-hero);
}

.hero-img {
    width: 240px;
    height: 180px;
    flex-shrink: 0;
    object-fit: contain;
}