.hero-content {
    display: flex;
    background-color: var(--color-white);
    flex-direction: column;
    align-items: center;
    gap: var(--space-20);
    text-align: center;
    padding: 100px 100px;
    border-radius: 0px 0px var(--radius-hero) var(--radius-hero);
}

.hero-img {
    width: 240px;
    height: 180px;
    flex-shrink: 0;
    object-fit: cover;
}