<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1066785994500439"
     crossorigin="anonymous"></script>
</head>

<body>
    
    {% include header.html %}

    <div id="layout-wrapper">
        {{ content }}
    </div>

</body>
</html>