/* =========================================
   NAVBAR BASIC
   ========================================= */
.navbar {
    background-color: var(--color-white);
    padding: 50px;
    position: sticky; top: 0; z-index: 1000;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: var(--fs-heading);
}

.nav-links {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0; padding: 0;
}

.nav-toggle {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    
    flex-direction: column;
    gap: 5px;
}

.nav-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--color-black);
    transition: all 0.3s;
}


/* =========================================
   MOBILE RESPONSIVE
   ========================================= */
@media (max-width: 768px) {
    .nav-toggle {
        display: flex; 
    }

    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        padding-top: 20px;
        gap: 10px;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }
    
    .nav-links li {
        width: 100%;
    }
    .nav-links .btn {
        width: 100%;
        display: block;
    }

    .nav-toggle.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .nav-toggle.open span:nth-child(2) {
        opacity: 0;
    }
    .nav-toggle.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}