/* =========================================
   RESET & BASE STYLE
   ========================================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none; /* 리스트 점 없애기 */
}

a {
    text-decoration: none; /* 링크 밑줄 없애기 */
    color: inherit;        /* 부모 색상 따라가기 */
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;

    color: var(--color-black);
    font-family: 'Pretendard', sans-serif;
    line-height: 1.6;
}

/* =========================================
   COMMON LAYOUT
   ========================================= */

#layout-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    min-height: 0;
    width: 100%;
}

main {
    flex: 1;
    height: 100%;      
    overflow-y: auto;
}

.main-wide {
    padding-left: 100px;
    padding-right: 100px;
}

.blog-wide {
    padding-left: 50px;
    padding-right: 50px;
    flex: 1;
    overflow: hidden;
}

.portfolio-wide {
    padding-left: 150px;
    padding-right: 150px;
}

.section {
    padding: 50px 0;
}

.section:last-child {
    margin-bottom: 0; 
}

/* =========================================
   GRID SYSTEM
   ========================================= */
.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-10);
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-10);
}

.grid-title {
    display: grid;
    grid-template-columns: 180px 1fr;
}


/* =========================================
   SECTION HEADER (섹션 제목)
   ========================================= */
.section-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
    margin-bottom: var(--space-20);
    min-height: 32px;
    gap: 10px
}

.title-center {
    grid-column: 2;
    
    font-weight: var(--fw-bold);
    font-size: var(--fs-heading);
    line-height: var(--lh-heading);
    white-space: nowrap;
}

.view-all {
    grid-column: 3;
    justify-self: end;
}

.profile-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* =========================================
   MOBILE RESPONSIVE (LAYOUT)
   ========================================= */
@media (max-width: 768px) {
    .grid-4 { 
        grid-template-columns: 1fr; 
    }

    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
    .section-title {
        position: static; 
        transform: none;
        white-space: normal;
    }
}